.product {
  margin: 100px auto 130px;

  .product__content {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    line-height: 28px;

    &:after {
      content: "";
      border-bottom: 2px solid $btn_bg-color;
      width: 130px;
      height: 2px;
      display: block;
      margin: 30px auto 0;
    }

    .product__title {
      font-weight: 700;
      font-size: 42px;
      line-height: 55px;
      letter-spacing: 0.42px;
      text-transform: uppercase;
      padding-bottom: 25px;
    }
  }

  .product__offers {
    .product__menu {
      display: flex;
      justify-content: center;

      .product__list {
        flex-basis: 72%;
        display: flex;
        justify-content: space-between;
        padding: 80px 0 60px;
        flex-wrap: wrap;

        .product__list_item {
          font-weight: 600;
          font-size: 22px;
          line-height: 24px;
          letter-spacing: 0.22px;
          text-transform: uppercase;
          margin-right: 20px;

          &:hover {
            color: $btn_bg-color;
            transition: 300ms;
            text-decoration: underline;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  .product__block_img {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .product__element_img {
      width: 290px;
      height: 290px;
      margin: 10px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (max-width: 1080px) {
  .product__offers {

    .product__menu {

      .product__list {
        flex-direction: column;
        text-align: center;

        .product__list_item {
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .product__offers {
    .product__block_img {
      flex-direction: column;
      align-items: center;

      .product__element_img {
        margin: 20px 0;
      }
    }
  }
}

@media (max-width: 480px) {

  .product {
    margin: 50px 0;


    .product__content {
      .product__title {
        font-size: 20px;
        line-height: 20px;
      }
    }
  }
}
